/*
*  Reset
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}


/*
*  Typo
*/

h2 {
    font-size: 34px;
    font-weight: 600;
    color: #E53170;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

p {
    color: #212121;
    text-align: center;
}



/*
*  Page rules
*/
.container {
    max-width: 1050px;
    margin: 0 auto;
}



.card-container {
    margin: 50px 0;
    background-color: #E53170;
    border: 3px solid #212121;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}




.card {
    height: 70px;
    width: calc(100% / 3 - 30px);
    /* margin: 0 15px; */

    background-color: #212121;
    float: left;
}

.card:nth-child(2) {
    margin: 0 15px;
}